.amount-option,
.destination-option {
    background-color: #f4f4f4;
    color: #000;
    transition: background-color 0.3s ease;
}

.amount-option.active,
.destination-option.active {
    background-color: #d3a029 !important;
    color: #fff !important;
}

#findMore:hover {
    background-color: #d3a029;
    color: #fff;
    margin: 0;
}
